{% set logoLeft = '/base/img/Logo_DPS.jpg' %}
{% set logoMiddle = '/base/img/FSC.jpg' %}
{% set logoRight = '/base/img/FSC_Umbria.jpg' %}
{% set bottomLogo = '/base/img/logo-datiumbria_footer.png' %}

<footer class="site-footer">
  <hr class="hr3" style="background-color:#255667; height:15px; margin:0px;">
  <div class="container footer-top">
    {% block footer_content %}
    <div class="row container">
      {% block header_logos %}
      <section class="m-bottom">
        <div class="col col-xs-4 text-left">
          <a href="http://www.dps.mef.gov.it/"
            ><img
              src="{{ logoLeft }}"
              title="Dipartimento per lo Sviluppo e la Coesione Economica"
              style="max-width: 100%; height: auto"
              alt="DPS"
              align="top"
          /></a>
        </div>

        <div class="col col-xs-4 text-center">
          <a
            href="http://www.dps.gov.it/it/politiche_e_attivita/Fondo_per_lo_Sviluppo_e_la_Coesione"
            ><img
              src="{{ logoMiddle }}"
              title="Fondo per lo Sviluppo e la Coesione"
              style="max-width: 100%; height: auto"
              alt="FSC"
              align="top"
          /></a>
        </div>

        <div class="col col-xs-4 text-right">
          <a
            href="http://www.regione.umbria.it/che-cos-e-il-fondo-di-sviluppo-e-coesione-fsc"
            ><img
              src="{{  logoRight }}"
              title="Fondo per lo Sviluppo e la Coesione Umbria"
              style="max-width: 100%; height: auto"
              alt="FSC Umbria"
              align="top"
          /></a>
        </div>
      </section>
      {% endblock %}
    </div>
    {% endblock %}
       <div class="container m-top">
  <section class="container">
  <div class="row" style="display:flex;justify-content:space-between;flex-wrap:wrap;padding:0 20px;width:100%;">
		<div class="" style="flex:0.3;">
			<img class="img-fluid" src="{{ bottomLogo }}" alt="{{ g.site_title }}" title="{{ g.site_title }}">
		</div>
		<div class="" style="padding:0;flex:0.3;">
			<div class="span3">
			  <address>
			  <strong><a href="http://www.regione.umbria.it/" target="_blank">Regione Umbria</a></strong><br>
			  Corso Vannucci, 96<br>
			  06121 Perugia<br>
				<a href="mailto:opendata@regione.umbria.it">opendata@regione.umbria.it</a><br>
				<a href="mailto:regione.giunta@postacert.umbria.it" style="color:#fff;">regione.giunta@postacert.umbria.it</a><br>
				P.IVA 01212820540<br>
			  </address>
			</div>
		</div>
    <div style="flex:0.2;">
      <h5>{% trans %}Powered by{% endtrans %}</h5> <p class="text-left footer-credit">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a class="hide-text ckan-footer-logo" href="http://ckan.org">ckan</a><br><a class="hide-text ckan-footer-logo m-auto m-md-0" href="http://ckan.org/"></a>and <a class="hide-text" href="https://www.geosolutionsgroup.com/"><strong>GeoSolutions</strong></a></p>
      {% set current_lang = request.environ.CKAN_LANG %}
<form action="{% url_for 'util.internal_redirect' %}" method="POST">
  <p style="margin-bottom:0;">{{ _('Language') }}</p>
  <div class="language_buttons">
    {% for locale in h.get_available_locales() %}
      <button type="submit" name="url" value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.short_name == current_lang %}selected="selected"{% endif %}>
      {% set source = '/base/img/' + locale.short_name + '.png' %}
       <img src="{{ source }}" height="16" width="16" alt="{{ locale.display_name }}"> {{ locale.display_name or locale.english_name }}
      </button>
    {% endfor %}
  </div>
</form>
    </div>
    </div>
  </section>
		<div class="col-md-4 text-right">
			<div class="move-top"><a href="#top">^</a></div>
		</div>
   	</div>
  </div>
{% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Profile settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed" aria-label="{{ _('Account') }}">
      <ul class="list-unstyled">
        <li>
          <a href="/cms/privacy" title="{{ _('Privacy') }}">{{ _('Privacy') }}</a>
        </li>
        <li>
          <a href="/cms/notelegali" title="{{ _('Note legali') }}">{{ _('Note legali') }}</a>
        </li>
        <li>
          <a href="/cms/accessibilita" title="{{ _('Dichiarazione di accessibilità') }}">{{ _('Dichiarazione di accessibilità') }}</a>
        </li>

        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</div>
{% endblock %}
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
